.banner{
	height: 100vh;
	background-image: url("../images/londresfond.jpg");
	background-size: cover;
	background-position: right;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	
}

.banner h1, .banner h2{
	text-shadow: 1px 1px 1px black;
}

@media (min-width: 576px){
	.banner{
		background-position: center;
	}
}